// Menu Button
.menu-btn {
    position: absolute;
    justify-self: center;
    align-self: center;
    top: 1.65rem;
    right: 3.5rem;
    z-index: 3;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 18px;
        height: 2px;
        background: #333333;
        @include easeOut;   
        &:nth-child(2) {
            margin: 4px 0;
        }
    }

    // Rotate Lines
    &.close {
        transform: rotate(180deg);
        
        .btn-line {
            background: set-text-color($primary-color);
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: translate(0px, 6px) rotate(45deg) ;
                
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate

            &:nth-child(3) {
                transform: translate(0px, -6px) rotate(-45deg);
            }
        }
    }
}

.menu {
    position: fixed;
    top:0;
    width: 100%;
    visibility: hidden;
    &.show {
        visibility: visible;
    }

    &-branding, 
    &-nav {
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        right: 0;
        //float:left;
        width: 25%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(100%, 0, 0);
        @include easeOut;
        &.show {
            //slide in from top
            transform: translate3d(0, 0, 0);
        }
    }

    //branding stuff

    &-branding {
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        &.show {
            //slide in from bottom
            //transform: translate3d(0, 0, 0);
        }
        
        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/angrylemonprofile.png');
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        &.show {
            //slide in from bottom
            transform: translate3d(0, 0, 0);
        }
        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 400;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;
        &:hover {
            color: $secondary-color
        }
    }
}
#home {
    .about {
        transform: translate3d(0, 0, 0); 
        @include easeOut;
    }
    
    &.show {
        .about {
            transform: translate3d(-12.5%, 0, 0);
        @include easeOut;
        }
        
    }

}

#title, #main-footer {
    transform: translate3d(0, 0, 0); 
    @include easeOut;
    &.show {
        transform: translate3d(-12.5%, 0, 0);
        @include easeOut;
    }
}



// Delay each nav item slide by 0.1 seconds
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}